
.addPopup-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    display: flex;
}

.addPopup-container .background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    opacity: .8;
    overflow: hidden;
}

.add-container .error {
    color: red;
    margin: 1%;
    font-weight: bold;
    font-size: large;
    letter-spacing: .1vw;
}

.addPopup-container .form-container {
    width: auto;
    height: auto;
}

.addPopup-container .form-container input[type=text] {
    margin-bottom: 1%;
}

.addPopup-container .form-container p {
    width: 60%;
    font-family: 'Roboto';
    font-size: xx-large;
    font-weight: normal;
}

.form-container input[type=button] {
    width: 5vw;
    min-width: 250px;
    height: 4vh;
    min-height: 40px;
    border-color: transparent;
    border-radius: 30px;
    background-color: var(--c-green);
    font-size: x-large;
    font-family: Staatliches, Roboto, Arial, Helvetica, sans-serif;
    color: var(--bg-color);
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}