.form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    row-gap: 5vw;
}

.form-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container input[type=text] {
    width: 30vw;
    min-width: 350px;
    height: 5vh;
    min-height: 40px;
    background-color: transparent;
    border: 5px solid var(--c-purple);
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: large;
    margin-top: 1%;
}

.form-container input[type=text]::placeholder {
    text-align: center;
    color: grey;
}

.form-container #logo {
    position: absolute;
    top: 5%;
}

.form-container input[type=password] {
    width: 30vw;
    min-width: 350px;
    height: 5vh;
    min-height: 40px;
    background-color: transparent;
    border: 5px solid var(--c-green);
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: large;
    margin-bottom: 1%;
    margin-top: 1%;
}

.form-container input[type=password]::placeholder {
    text-align: center;
    color: grey;
}

.form-container input[type=submit] {
    width: 5vw;
    min-width: 250px;
    height: 4vh;
    min-height: 40px;
    border-color: transparent;
    border-radius: 30px;
    background-color: var(--c-green);
    font-size: x-large;
    font-family: Staatliches, Roboto, Arial, Helvetica, sans-serif;
    color: var(--bg-color);
    cursor: pointer;
    margin-bottom: 2%;
}


.form-container .link {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: red;
}

.form-container a {
    width: 5vw;
    min-width: 200px;
    color: white;
    text-decoration: none;
}

.form-container a:hover {
    color: var(--c-purple);
    cursor: pointer;
    text-decoration: underline;
}

.form-container a:visited {
    color: white
}

.form-container .error {
    color: red;
    margin: 1%;
    font-weight: bold;
    font-size: large;
    letter-spacing: .1vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.container .link {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: red;
}

.container #logo {
    position: absolute;
    top: 5%;
}

.container p {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.add-margin {
    margin: 1%
}