.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.container .link {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: red;
}

.container #logo {
    position: absolute;
    top: 5%;
}

.container p {
    color: white;
    font-size: x-large;
    font-weight: bold;
}
