@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');

:root {
    --bg-color: #222148;
    --c-green: #42F6AB;
    --c-purple: #5869FF; 
}

* {
    margin: 0;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background: var(--bg-color);
}

body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
